body {
	background: linear-gradient(black, white);
}

#title {
	position:relative;
	font-size: 40px;
	font-family: fantasy;
	font-weight: bold;
	left: 270px;
	top: -50px;
	color: gray;
	cursor: default;
}

#wrap {
	position: relative;
    top: 22.5%;
    left: 15%;
    width:650px;
    height:450;
}

#grid {
	position:relative;
	width: 420px;
	height: 420px;
	left:200px;
	border: 3px solid black;
	border-collapse: collapse;
	background-color: white;
}

.box_td {
	width: 140px;
	height: 140px;
	border: 3px solid black;
}

.box {
	width: 140px;
	height: 140px;
	border-collapse: collapse;
}

.square {
	border: 1px solid black;
	text-align: center;
	background-color: transparent;
	/*transition: background-color 1s ease;*/
}

.square.yellow {
	transition: background-color 0.6s ease;
}

.square.solve_all {
	animation-name: solve_all;
	animation-duration: 0.6s;
}

.num_in.solve_all {
	animation-name: solve_all;
	animation-duration: 0.6s;
}


@keyframes solve_all {
	0% {
		background-color: #0BF5EA;
	}

	100% {
		background-color: white;
	}
}

.top {
	border-top: none;
}

.left {
	border-left: none;
}

.right {
	border-right: none;
}

.bottom {
	border-bottom: none;
}

#solve {
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
}

#set {
	position: absolute;
	margin-top: 120px;
	margin-left: 50px;
}

#reset {
	position: absolute;
	margin-top: 140px;
	margin-left: 50px;
}

.num_in {
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	cursor: initial;
}

.num_in.disabled:hover {
	cursor: pointer;
}


input[type="text"]:focus {
	background-color: #0BF5EA !important;
}

.square:focus-within {
	background-color: #0BF5EA !important;
}

.square:hover {
	cursor: text;
}

.square.disabled:hover {
	cursor: pointer;
}

.selected {
	position: relative;
	top: -629px;
	display:block;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding: 42px 11px;
	border-radius: 50%;
	border: 4px solid black;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}

.selected:hover {
	cursor: not-allowed;
}

.selected.action:hover {
	cursor: pointer;
	background-color: yellow;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.selected.action:active {
  background-color: yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scaleX(.9) scaleY(.9);
}


.solve {
	position: relative;
	top: -438px;
	display:block;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding: 43px 32px;
	border-radius: 50%;
	border: 4px solid black;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}

.solve:hover {
	cursor: not-allowed;
}

.solve.action:hover {
	cursor: pointer;
	background-color: #0BF5EA;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.solve.action:active {
  background-color: #0BF5EA;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scaleX(.9) scaleY(.9);
}

.set {
	position: relative;
	top: -195px;
	left: 650px;
	display:block;
	cursor: pointer;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px;
	border-radius: 5%;
	border: 4px solid black;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}

.set:hover {
	background-color: #0BF5EA;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.set:active {
  background-color: #0BF5EA;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scaleX(.9) scaleY(.9);
}

.set.inaction:hover {
	background-color: white;
	cursor: not-allowed;
	box-shadow: initial;
}

.set.inaction:active {
	transform: initial;
	box-shadow: initial;
}



.reset {
	position: relative;
	top: -333px;
	display:block;
	cursor: pointer;
	outline: none;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	padding: 56px 34px;
	border-radius: 50%;
	border: 4px solid black;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}

.reset:hover {
	background-color: #ABB1B1;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.reset:active {
  background-color: #ABB1B1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scaleX(.9) scaleY(.9);
}

#myform {
	position: relative;
	top: -600px;
	display:block;
	left: 650px;
}

#submit {
	position: relative;
	left: -242px;
	top: 20px;
}


/*.error {
	position: relative;
	display:inline-block;
	top: -800px;
	left: -400px;
	margin: 0 auto;
	text-align:center;
	font-size: 20px;
	color: red;
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
	transform: scale(0);
	border: 2px solid black;
}*/

/*.error.enabled {
	animation-name: error_fade;
	animation-duration: 2s;
}

@keyframes error_fade {
	50% {
		opacity: 1;
		transform: scale(1);
	}

	80% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}*/



